@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Vollkorn:ital,wght@0,400..900;1,400..900&display=swap");

h1 {
  font-family: "Playfair Display";
}
p {
  font-family: "Vollkorn";
}
.nav-link {
  color: slategray !important;
}
.active {
  background-color: burlywood !important;
}
.btn-bd-primary {
  background-color: burlywood !important;
}
.fs-4 {
  font-family: "Playfair Display";
}
html {
  scroll-behavior: smooth;
}
